@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
@layer base {
  :root {
    --primary: #2559a6;
    --secondary: rgba(255, 255, 255, 0.4);
    --inverted: #fefefe;
  }

  html {
    @apply scroll-smooth font-sans;
  }
  body {
    @apply min-h-screen bg-brand-white text-brand-black;
    @apply font-poppins;
  }

  @layer components {
    .btn {
      @apply rounded-md px-4 py-2 hover:opacity-90;
    }
    .btn-primary {
      @apply btn bg-brand-primary text-brand-white;
    }
    .device-container {
      @apply mx-auto max-w-[1440px] px-10 tablet:max-w-[768px] tablet:px-5 mobile:max-w-full mobile:px-1;
    }
  }
}

@layer utilities {
  .dbg {
    @apply border border-dashed border-red-500 ring-violet-50;
  }
}
